@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* app/globals.css */
body {
  background-color: #656565; /* Matches background */
  font-family: 'Inter', sans-serif;
  color: #064420; /* Default text color */
}

a {
  color: #EEBB4D;
  text-decoration: none;
}

a:hover {
  color: #064420;
}
