@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: #0a0a0a;
}

p{
  color: #0a0a0a;
}



/* app/globals.css */

/*
body {
  background-color: #656565; 
  font-family: 'Inter', sans-serif;
  color: #064420; 
}
*/

a {
  color: #EEBB4D;
  text-decoration: none;
}

a:hover {
  color: #064420;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.5s ease-out forwards;
}